p{
    text-align: center;
    font-family: montserrat;
}

.main-text{
    font-size: 40px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 0px;
}

.sub-text{
    font-size: 20px;
    margin-top: 16px;
}